
/* Підправити .header - gap */

.header {
    border-bottom: 1px solid #f2f4f7;
    padding: 24px 64px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 450px;
}

.navigation {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 32px;
}

.navigation a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #101828;
}

.navigation a:hover {
    color: #d84343;
}