.details {
    width: 527px;
    height: 296px;
    margin-top: 100px;
}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #101828;
    margin-bottom: 24px;
}

.hr {
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 44px;
    color: unset;
    border: none;
    background-color: #dadde1;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list div {
    display: flex;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

.list p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #101828;
}