.hero {
    max-width: 100%;
    height: 696px;
    position: relative;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    height: 176px;
    position: absolute;
    left: 64px;
    top: 260px;
    z-index: 9999;
}

.info {
    height: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}

.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.66667;
    color: #f7f7f7;
}

.text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: #f7f7f7;
}

.button {
    border: none;
    border-radius: 200px;
    padding: 16px 48px;
    width: 173px;
    height: 56px;
    background-color: #e44848;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #fff;
}

.button:hover,
.button:focus {
    background-color: #d84343;
}