:root {
  --background: #ffffff;
}

body {
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
