.title {
    font-size: 36px;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 60px;
    text-align: center;
}

.description {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 16px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9999;
}