.container{
    padding: 48px 64px;
}

.name {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: #101828;
    margin-bottom: 8px;
}

.list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 16px;
}

.list li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #101828;
}

.price {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: #101828;
    margin-bottom: 28px;
}

.images {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 48px;
    max-width: 100%;
    margin-bottom: 28px;
}

.image {
    border-radius: 10px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #475467;
    margin-bottom: 60px;
}

.tabs_panel {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 24px;
}

.tabs_panel button {
    display: block;
    position: relative;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #101828;
    border: none;
    background-color: transparent;
    /* transition: background-color 0.3s ease, opacity 0.3s ease; */
}

.tabs_panel .activeBtn::after {
    background-color: #e44848;
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -26px;
    /* opacity: 1; */
}

.hr {
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 44px;
    color: unset;
    border: none;
    background-color: #dadde1;
}

.box {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
}