.container{
    padding: 48px 64px;
}

.name {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: #101828;
    margin-bottom: 8px;
}

.list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 16px;
}

.list li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #101828;
}

.price {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: #101828;
    margin-bottom: 28px;
}

.images {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 48px;
    max-width: 100%;
    margin-bottom: 28px;
}

.image {
    border-radius: 10px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #475467;
}